global
    log /dev/log local0 notice
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets 

defaults
    log global
    mode http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen Statistics
    log global
    bind 127.0.0.1:81
    mode http
    timeout connect 5000
    timeout client 10000
    timeout server 10000
    timeout queue 10000
    option httplog

    maxconn 10

    stats enable
    stats hide-version
    stats refresh 30000
    stats show-node
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}
    stats uri /stats

{{ database_config | default('') }}

{{ haproxy_frontend }}

{{ haproxy_backend }}

{{ extra_configs | default('') }}
