frontend www_https
    log global
    bind *:80
    bind *:443 ssl crt {{ ssl_certificate_file }}
    http-request add-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]
    mode http
    timeout client 30000
    timeout client-fin 30000
    option httplog
    option dontlognull
    option httpclose
    maxconn 1000

    acl forbidden_src src 0.0.0.0/7 244.0.0.0/3
    acl forbidden_src src_port 0:1023
    http-request deny if forbidden_src

    acl forbidden_uris url_reg -i .*(\.|%2e)(\.|%2e)(%2f|%5c|/|\\\\)
    acl forbidden_uris url_sub -i %00 <script xmlrpc.php
    acl forbidden_uris path_end -i /root.exe /cmd.exe /default.ida /awstats.pl .asp /phpinfo.php /id_rsa .dll .sql .env 
    acl forbidden_uris path_dir -i chat main.php read_dump.php viewtopic.php phpbb sumthin horde _vti_bin MSOffice
    acl forbidden_uris url_reg -i (\.php\?temppath=|\.php\?setmodules=|[=:]http://)
    http-request deny if forbidden_uris

    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt-backend if letsencrypt-acl

{{ haproxy_acl }}

backend letsencrypt-backend
    server letsencrypt 127.0.0.1:54321
