listen soju_irc
    bind *:6697 ssl crt {{ ssl_certificate_file }}
    mode tcp
    option tcplog
    server k3s-control-plane {{ backend_src }}:30667 ssl verify required ca-file /etc/ssl/certs/internal-ca.crt sni str(kamuridesu.com) check inter 30s
    timeout client 24h
    timeout server 24h

